<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <div class="card-container">
            <div class="card-header">
              <div class="img-avatar"></div>
              <div class="text-chat" id="Don-ronaldo">Chat With Don-ronaldo</div>
            </div>
            <div class="card-body">
              <div class="messages-container"><div><div class="message-box left">
                  <p>wach abba missi</p>
              </div></div><div><div class="message-box right">
                      <p>wach abba ronaldo</p>
                  </div></div><div><div class="message-box left">
                  <p>lakhssatek chi 7aja wla chi la3ba kima kanet sonni liya ana m3ak a3chiri brojola li bghitiha nriglouha</p>
              </div></div><div><div class="message-box left">
                  <p>lmouhim kidayra antonella wdrari</p>
              </div></div><div><div class="message-box right">
                      <p>akhouya machkir 3lik rah drebhom lberd m3a had l7amla rak 3aref albrahech b9aw kighewto abba ronaldo wlahila rani me9hour gha khliha 3ellah thiago nad dreb khouh bma9la wadro </p>
                  </div></div><div><div class="message-box right">
                      <p>fen abba dielio</p>
                  </div></div>
              <div><div class="message-box left">
                  <p>fen hani</p>
              </div></div><div><div class="message-box left">
                  <p>fen hani</p>
              </div></div><div><div class="message-box left">
                  <p>fen hani</p>
              </div></div><div><div class="message-box left">
                  <p>fen hani</p>
              </div></div><div><div class="message-box left">
                  <p>wach aaa</p>
              </div></div><div><div class="message-box left">
                  <p>wach aaa</p>
              </div></div><div><div class="message-box left">
                  <p>wach aaaa</p>
              </div></div><div><div class="message-box left">
                  <p>wach aaaa</p>
              </div></div></div>
              
              <div class="message-input">
                <form>
                  <textarea placeholder="Type your message here" class="message-send"></textarea>
                  <button type="submit" class="button-send">Send</button>
                </form>
              </div>
            </div>
          </div>
        
    </div>
  </body>
</html>