<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
    <div class="container">
        <div class="chat" style="display: flex;">
            <ul><li id="Pulga-messi" class="chat-user">Pulga-messi
                <div class="loader">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </li>
                <li id="Achraf-hakimi" class="chat-user">Achraf-hakimi</li>
                <li id="Angel-dimaria" class="chat-user">Angel-dimaria</li>
                <li id="ayoub" class="chat-user">ayoub</li><li id="Carlo-anceloti" class="chat-user">Carlo-anceloti</li><li id="Carlos-puyol" class="chat-user">Carlos-puyol</li><li id="Fede-valeverde" class="chat-user">Fede-valeverde</li><li id="Gareth-bale" class="chat-user">Gareth-bale</li><li id="Iker-casillas" class="chat-user">Iker-casillas</li><li id="Jose-Mourinho" class="chat-user">Jose-Mourinho</li><li id="luca-modric" class="chat-user">luca-modric</li><li id="mesout-ozil" class="chat-user">mesout-ozil</li><li id="pep-guardiola" class="chat-user">pep-guardiola</li><li id="pepe" class="chat-user">pepe</li><li id="Ricardo-kaka" class="chat-user">Ricardo-kaka</li><li id="rodrigo" class="chat-user">rodrigo</li><li id="Sergio-ramos" class="chat-user">Sergio-ramos</li><li id="test" class="chat-user">test</li><li id="toni-kroos" class="chat-user">toni-kroos</li><li id="Zizouu" class="chat-user">Zizouu</li></ul></div>
    </div>
  </body>
</html>